# Exclude these files from release archives.

# This is used when pushing to WordPress.org SVN using the
# https://github.com/10up/action-wordpress-plugin-deploy GitHub Action.

# Directories
/.github             export-ignore
/.wordpress-org      export-ignore

# Files
/.gitattributes      export-ignore
/.gitignore          export-ignore
/README.md           export-ignore
/LICENCE             export-ignore
